
#container {
    display: flex;
    flex-flow: row wrap;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        background-color:white;
        height: 960px;
        width: 960px;    
}

