:root {
    --gridBoxes: 16;  /*variable stores integer for number of squares on a side*/
    --gridBoxSize: "6.25%";  /*how wide the squares are*/
  }  

#container {
    display: grid;
        justify-self: center;
        background-color:aquamarine;
        height: 960px;
        width: 960px;
        grid-template-columns: repeat(var(--gridBoxes), var(--gridBoxSize) );
        
}

.square {
    background-color: red;
}